@page "/admin/accidents/edit/{id:long}"
@page "/admin/accidents/create"
@inherits OwningComponentBase<IAccidentsRepository>


<style>
    div.validation-message {color: rgb(220, 53, 69); font-weight:500}
</style>


<h3 class="bg-@ThemeColor text-white text-center p-1">@TitleText an Accident</h3>

<EditForm Model="a" OnValidSubmit="SaveAccident">

    <DataAnnotationsValidator></DataAnnotationsValidator>


    @*<div class="form-group"> -> To make Crash ID a field that can be entered, and we just give it a number limit
        <label>Milepoint</label>
        <ValidationMessage For="@(() => a.MILEPOINT)"></ValidationMessage>
        <InputNumber class="form-control" @bind-Value="a.MILEPOINT"></InputNumber>
    </div>*@

    <div class="form-group">
        <label>Crash ID</label>
        <input class="form-control" disabled value="@a.CRASH_ID" />
    </div>

    <div class="form-group">
        <label>Date&Time</label>
        <ValidationMessage For="@(() => a.CRASH_DATETIME)"></ValidationMessage>
        <InputDate class="form-control" @bind-Value="a.CRASH_DATETIME"></InputDate>
    </div>

    <div class="form-group">
        <label>Route</label>
        <ValidationMessage For="@(() => a.ROUTE)"></ValidationMessage>
        <InputText class="form-control" @bind-Value="a.ROUTE"></InputText>
    </div>

    <div class="form-group">
        <label>Milepoint</label>
        <ValidationMessage For="@(() => a.MILEPOINT)"></ValidationMessage>
        <InputNumber class="form-control" @bind-Value="a.MILEPOINT"></InputNumber>
    </div>

    <div class="form-group">
        <label>Latitude</label>
        <ValidationMessage For="@(() => a.LAT_UTM_Y)"></ValidationMessage>
        <InputNumber class="form-control" @bind-Value="a.LAT_UTM_Y"></InputNumber>
    </div>

    <div class="form-group">
        <label>Longitude</label>
        <ValidationMessage For="@(() => a.LONG_UTM_X)"></ValidationMessage>
        <InputNumber class="form-control" @bind-Value="a.LONG_UTM_X"></InputNumber>
    </div>

    <div class="form-group">
        <label>Road Name</label>
        <ValidationMessage For="@(() => a.MAIN_ROAD_NAME)"></ValidationMessage>
        <InputText class="form-control" @bind-Value="a.MAIN_ROAD_NAME"></InputText>
    </div>

    <div class="form-group">
        <label>City</label>
        <ValidationMessage For="@(() => a.CITY)"></ValidationMessage>
        <InputText class="form-control" @bind-Value="a.CITY"></InputText>
    </div>

    <div class="form-group">
        <label>County</label>
        <ValidationMessage For="@(() => a.COUNTY_NAME)"></ValidationMessage>
        <InputText class="form-control" @bind-Value="a.COUNTY_NAME"></InputText>
    </div>

    <div class="form-group">
        <label>Severity</label>
        <ValidationMessage For="@(() => a.CRASH_SEVERITY_ID)"></ValidationMessage>
        <InputNumber class="form-control" @bind-Value="a.CRASH_SEVERITY_ID"></InputNumber>
    </div>

    <div class="form-group">
        <label>Work Zone Related</label>
        <ValidationMessage For="@(() => a.WORK_ZONE_RELATED)"></ValidationMessage>
        <select class="form-control selectpicker" @bind="a.WORK_ZONE_RELATED">
            <option>--Select--</option>
            <option>TRUE</option>
            <option>FALSE</option>
        </select>
        @*<InputText class="form-control" @bind-Value="a.WORK_ZONE_RELATED"></InputText>*@
    </div>

    <div class="form-group">
        <label>Pedestrian Involved</label>
        <ValidationMessage For="@(() => a.PEDESTRIAN_INVOLVED)"></ValidationMessage>
        <select class="form-control selectpicker" @bind="a.PEDESTRIAN_INVOLVED">
            <option>--Select--</option>
            <option>TRUE</option>
            <option>FALSE</option>
        </select>
    </div>

    <div class="form-group">
        <label>Bicyclist Involved</label>
        <ValidationMessage For="@(() => a.BICYCLIST_INVOLVED)"></ValidationMessage>
        <select class="form-control selectpicker" @bind="a.BICYCLIST_INVOLVED">
            <option>--Select--</option>
            <option>TRUE</option>
            <option>FALSE</option>
        </select>
    </div>

    <div class="form-group">
        <label>Motorcyclist Involved</label>
        <ValidationMessage For="@(() => a.MOTORCYCLE_INVOLVED)"></ValidationMessage>
        <select class="form-control selectpicker" @bind="a.MOTORCYCLE_INVOLVED">
            <option>--Select--</option>
            <option>TRUE</option>
            <option>FALSE</option>
        </select>
    </div>

    <div class="form-group">
        <label>Improper Restraint</label>
        <ValidationMessage For="@(() => a.IMPROPER_RESTRAINT)"></ValidationMessage>
        <select class="form-control selectpicker" @bind="a.IMPROPER_RESTRAINT">
            <option>--Select--</option>
            <option>TRUE</option>
            <option>FALSE</option>
        </select>
    </div>

    <div class="form-group">
        <label>Unrestrained</label>
        <ValidationMessage For="@(() => a.UNRESTRAINED)"></ValidationMessage>
        <select class="form-control selectpicker" @bind="a.UNRESTRAINED">
            <option>--Select--</option>
            <option>TRUE</option>
            <option>FALSE</option>
        </select>
    </div>

    <div class="form-group">
        <label>DUI</label>
        <ValidationMessage For="@(() => a.DUI)"></ValidationMessage>
        <select class="form-control selectpicker" @bind="a.DUI">
            <option>--Select--</option>
            <option>TRUE</option>
            <option>FALSE</option>
        </select>
    </div>

    <div class="form-group">
        <label>Intersection Related</label>
        <ValidationMessage For="@(() => a.INTERSECTION_RELATED)"></ValidationMessage>
        <select class="form-control selectpicker" @bind="a.INTERSECTION_RELATED">
            <option>--Select--</option>
            <option>TRUE</option>
            <option>FALSE</option>
        </select>
    </div>

    <div class="form-group">
        <label>Wild Animal Related</label>
        <ValidationMessage For="@(() => a.WILD_ANIMAL_RELATED)"></ValidationMessage>
        <select class="form-control selectpicker" @bind="a.WILD_ANIMAL_RELATED">
            <option>--Select--</option>
            <option>TRUE</option>
            <option>FALSE</option>
        </select>
    </div>

    <div class="form-group">
        <label>Domestic Animal Related</label>
        <ValidationMessage For="@(() => a.DOMESTIC_ANIMAL_RELATED)"></ValidationMessage>
        <select class="form-control selectpicker" @bind="a.DOMESTIC_ANIMAL_RELATED">
            <option>--Select--</option>
            <option>TRUE</option>
            <option>FALSE</option>
        </select>
    </div>

    <div class="form-group">
        <label>Overturn/Rollover</label>
        <ValidationMessage For="@(() => a.OVERTURN_ROLLOVER)"></ValidationMessage>
        <select class="form-control selectpicker" @bind="a.OVERTURN_ROLLOVER">
            <option>--Select--</option>
            <option>TRUE</option>
            <option>FALSE</option>
        </select>
    </div>

    <div class="form-group">
        <label>Commercial Vehicle Involved</label>
        <ValidationMessage For="@(() => a.COMMERCIAL_MOTOR_VEH_INVOLVED)"></ValidationMessage>
        <select class="form-control selectpicker" @bind="a.COMMERCIAL_MOTOR_VEH_INVOLVED">
            <option>--Select--</option>
            <option>TRUE</option>
            <option>FALSE</option>
        </select>
    </div>

    <div class="form-group">
        <label>Teenage Driver Involved</label>
        <ValidationMessage For="@(() => a.TEENAGE_DRIVER_INVOLVED)"></ValidationMessage>
        <select class="form-control selectpicker" @bind="a.TEENAGE_DRIVER_INVOLVED">
            <option>--Select--</option>
            <option>TRUE</option>
            <option>FALSE</option>
        </select>
    </div>

    <div class="form-group">
        <label>Older Drive Involved</label>
        <ValidationMessage For="@(() => a.OLDER_DRIVER_INVOLVED)"></ValidationMessage>
        <select class="form-control selectpicker" @bind="a.OLDER_DRIVER_INVOLVED">
            <option>--Select--</option>
            <option>TRUE</option>
            <option>FALSE</option>
        </select>
    </div>

    <div class="form-group">
        <label>Night/Dark Conditions</label>
        <ValidationMessage For="@(() => a.NIGHT_DARK_CONDITION)"></ValidationMessage>
        <select class="form-control selectpicker" @bind="a.NIGHT_DARK_CONDITION">
            <option>--Select--</option>
            <option>TRUE</option>
            <option>FALSE</option>
        </select>
    </div>

    <div class="form-group">
        <label>Single Vehicle</label>
        <ValidationMessage For="@(() => a.SINGLE_VEHICLE)"></ValidationMessage>
        <select class="form-control selectpicker" @bind="a.SINGLE_VEHICLE">
            <option>--Select--</option>
            <option>TRUE</option>
            <option>FALSE</option>
        </select>
    </div>

    <div class="form-group">
        <label>Distracted Driving</label>
        <ValidationMessage For="@(() => a.DISTRACTED_DRIVING)"></ValidationMessage>
        <select class="form-control selectpicker" @bind="a.DISTRACTED_DRIVING">
            <option>--Select--</option>
            <option>TRUE</option>
            <option>FALSE</option>
        </select>
    </div>

    <div class="form-group">
        <label>Drowsy Driving</label>
        <ValidationMessage For="@(() => a.DROWSY_DRIVING)"></ValidationMessage>
        <select class="form-control selectpicker" @bind="a.DROWSY_DRIVING">
            <option>--Select--</option>
            <option>TRUE</option>
            <option>FALSE</option>
        </select>
    </div>

    <div class="form-group">
        <label>Roadway Departure</label>
        <ValidationMessage For="@(() => a.ROADWAY_DEPARTURE)"></ValidationMessage>
        <select class="form-control selectpicker" @bind="a.ROADWAY_DEPARTURE">
            <option>--Select--</option>
            <option>TRUE</option>
            <option>FALSE</option>
        </select>
    </div>

    <button type="submit" class="btn btn-@ThemeColor">Save</button>
    <NavLink class="btn btn-secondary" href="/admin/accidents">Cancel</NavLink>


</EditForm>


@code {

    [Parameter]
    public long Id { get; set; } = 0;

    public string ThemeColor => Id == 0 ? "primary" : "warning";
    public string TitleText => Id == 0 ? "Create" : "Edit";

    public Accident a { get; set; } = new Accident();

    public IAccidentsRepository repo => Service;

    protected override void OnParametersSet()
    {
        if (Id != 0)
        {
            a = repo.Accidents.FirstOrDefault(x => x.CRASH_ID == Id);
        }

    }

    public void SaveAccident()
    {
        if (Id == 0)
        {
            a.CRASH_ID = (repo.Accidents.ToList().Capacity + 1);
            repo.CreateAccident(a);
        }
        else
        {
            repo.SaveAccident(a);
        }

        NavManager.NavigateTo("/admin/accidents");
    }

    [Inject]
    public NavigationManager NavManager { get; set; }

}